:root {
  --tab-height: 1.3em;
  --scale: 2;
}
* {
  margin: 0;
  padding: 0;
}
html {
  width: calc(100% * var(--scale));
  height: calc(100% * var(--scale));
  transform: scale(calc(1 / var(--scale)), calc(1 / var(--scale)));
  transform-origin: top left;
}
html,
body,
.page,
.frame {
  overflow: hidden;
}
.tab {
  width: calc(100vw * var(--scale));
  height: var(--tab-height);
  font-size: var(--tab-height);
}
.tab .active {
  font-weight: 900;
}
.page {
  width: calc(100vw * var(--scale));
  height: calc(calc(100vh * var(--scale)) - var(--tab-height));
  display: grid;
  grid-template-rows: auto;
}
.frame {
  width: 100%;
  height: 100%;
  border: none;
}
